@CHARSET "UTF-8";
/*<link rel="stylesheet" type="text/css" href="style.css">*/
span {
	color: #FE642E;
}
                                                  /* ★ｈ１★*/
h1{
margin-top:30px;
margin-bottom:20px;
border-left:8px #DC143C solid;
padding-top:5px;
padding-left:15px;
width:500px;
font-size:25px;}

                                                       /* ★ｈ２★*/
h2{
margin-top:30px;
margin-bottom:20px;
border-left:8px #FE642E solid;
padding-top:5px;
padding-left:15px;
width:500px;
font-size:25px;}

.hr1{
	color:#FFEFD5;
}
                                                       /* 共通submit */
.submit{
border:1px solid #FF8856;
padding:4px 10px;
color:white;
background-color:#FF9872;
border-radius:5px;
border-bottom:solid 3px #FF4F02;}

.submit:hover{
background-color:#FF5F17;
cursor:pointer;
}
                                                          /*無料お試し submit */
.otamesisubmit{position:relait
border:1px solid #FF8856;
padding:4px 10px;
color:white;
background-color:#FF9872;
border-bottom:solid 3px #FF4F02;}

.submit:hover{
background-color:#FF5F17;
cursor:pointer;
}

header{
	width:100%;
	height:60px;
	background-color:#FF8856;
}
footer{position:fixed;
bottom:0;
left:0;
	width:100%;
	height:30px;
	background-color:#FF8856;
	color:#FFEFD5;
	text-align:center;
	line-height:30px;
	font-family:"メイリオ";
	font-size:10px;
}
header.logo{

}

.textfield:hover{
/*background-color:#FF9872;*/
border-bottom:solid 3px #FF4F02;
}

.memo {
	font-size: 12px;
	color: #CC6699;

}
.memo2{font-size: 12px;

}


/*★★★★★★★★★★★★★★★★★問い合わせリクエストページ★★*/

                                                            /*リクエストのテーブル*/
.toiawase{
text-align:center;
background-color:#FFDBC9;
	margin:0 auto;
padding:8px;
border:3px #FF9872 solid;
border-radius:10px;
width:500px;}

/*リクエスト　スパン*/
.toiawasespan{
	color: #FE642E;
	font-size:12px;
}
/*リクエスト　SUBMIT*/
.toiawasesubmit{position:relative;
left:400px;
border:1px solid #FF8856;
padding:4px 10px;
color:white;
background-color:#FF9872;
border-radius:5px;
border-bottom:solid 3px #FF4F02;}

.toiawasesubmit:hover{
background-color:#FF5F17;
cursor:pointer;
}
/*★★★★★★★★★★★★★★★★★Create.jsp申込みフォーム★*/

/*申し込みフォームのテーブルクラス*/
.tabc{
background-color:#FFDBC9;
	margin:0 auto;
padding:8px;
border:3px #FF9872 solid;
border-radius:10px;
width:600px;}

/*★★★★★★★★★★★★★★★★★アカウント情報★*/
/*アカウント情報のテーブルクラス*/
.taba{
background-color:#FFEFD5;
	margin:0 auto;
padding:8px;
border:3px #FF9872 solid;
border-radius:10px;
width:400px;}


textarea,.dropdown{
border:1px solid #dfdfdf;
padding:5px;
color:#999;
background:#fff;
}

/*★★★★★★★★★★★★★★★★★ログインページ★*/

/*Ｕｔｖアカウント*/
.loginh3{text-align:right;
	margin-right:20px;
	 margin-top:20px;
	}
/*アカウント名とパスワードのタイトル*/
th{border-left:8px solid #FF773E;
}

/*ログインページのテーブルクラス テーブル自体*/
.tab .ta{
	text-align:center;
	margin:0 auto;
}

/*ログインページのテーブルクラス 枠組み自体*/
.tab{
text-align:center;
background-color:#FFDBC9;
margin:0 auto;
padding:10px;
border:3px #FF9872 solid;
border-radius:10px;
width:400px;
height:180px;}

/*ログインページの下の文字（新規登録はこちら）*/
.touroku{
text-align:center;
margin:0 auto;}

.touroku.otamesisubmit{
	margin:0 auto;
}

.u{
	font-family:"メイリオ";
	font-size:60px;
	color:#FFEFD5;
	line-height:60px;
	font-weight:300px;

}
.tv{
	font-family:"メイリオ";
	font-size:30px;
	color:#FFEFD5;

}










